.fto{
    border: none;
    background-color: #398AB9;
    color: rgb(242, 241, 245);
    font-weight: bold;
    margin-left: 10px;
    border-radius: 10px;
}
.fto:hover{
    background-color: #D8D2CB;
    color: #156391;
}
.ops{
    font-weight: bold;
    font-size: large;
    margin-right: 10px;
}
.hki{
    margin-top: 10px;
    font-weight: bold;
    font-family: 'Merriweather Sans', sans-serif;
}
.jox{
    display: flex;
    justify-content: center;
}
.fto1{
    border: none;
    background-color: #398AB9;
    color: rgb(242, 241, 245);
    font-weight: bold;
    font-size: 20px;
    border-radius: 3px;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
}
.fto1:hover{
    background-color: #D8D2CB;
    color: rgb(26, 35, 112);
}
.klop{
    display: flex;
    margin-top: 20px;
    justify-content: center;
}
.lxj{
    font-size: 20px;
    font-weight: bold;
    border: none;
    background-color: rgb(57, 199, 204);
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    cursor: context-menu;
}

.my-editing-area .ql-container .ql-snow{
    border-style: solid;
    background-color: #156391;
}

.fsett{
    border-style: solid;
}